.tasks {

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &-body {
    height: calc(100vh - 180px);
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}